#header{
    text-align: center;
    border-top: 1px solid red;
}

#toDo {
    font-family: Arial;
}

#toDo .done {
    color:red;
    text-decoration:line-through;
}

#toDo .undone {
    cursor: pointer;
}

#todo .hidden {
    display: none;
}